* {
  box-sizing: border-box;
}

body {
  color: $textDark;
  background-color: $primaryLight;
  font-family: $fontFamily;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $textBlue;
  font-weight: 400;
}

.text-container {
  p {
    margin: 0.875rem 0;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.65;

    @mixin phoneLg {
      margin: 1rem 0;
    }

    @mixin desktop {
      margin: 1.8rem 0;
    }
  }

  .testimonial > p {
    margin: 1rem 0 1.8rem 0;
    font-size: 1.125rem;
    text-align: justify;
  }
}
