$fontFamily: "Lato", sans-serif;
$fontLargeHero: "Montserrat", sans-serif;

$blackColor: #000;
$blackTextColor: #2e3138;
$whiteColor: #fff;
$blueColor: #3b5999;

$primaryLight: $whiteColor;
$primaryDark: $blackColor;
$primaryColor: $blueColor;

$textLight: $whiteColor;
$textDark: $blackTextColor;
$textBlue: $blueColor;
