.btn {
  display: inline-block;
  padding: 0.9375rem 1.875rem;
  color: $textBlue;
  background-color: $primaryWhite;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;

  &--primary {
    color: $textWhite;
    background-color: $primaryBlue;
  }

  &--sm {
    padding: 0.75rem 1.5rem;
    font-size: 0.8rem;

    @mixin phoneLg {
      font-size: 0.9rem;
    }
  }

  &--lg {
    font-size: 1.1rem;

    @mixin phoneLg {
      font-size: 1.2rem;
    }
  }
}
