.row {
  margin-right: -65px;

  &--padding-t {
    padding-top: 80px;
  }

  &--lg {
    margin-right: 0;

    @mixin tablet {
      margin-right: -40px;
    }

    @mixin desktop {
      margin-right: -100px;
    }
  }

  & > .col {
    padding-right: 65px;
  }

  &--lg > .col {
    padding-right: 0;

    @mixin tablet {
      padding-right: 40px;
    }

    @mixin desktop {
      padding-right: 100px;
    }
  }

  & > .col.margin-b-until-tablet {
    margin-bottom: 1rem;
  }

  @mixin tablet {
    .col__md-4 {
      float: left;
      width: 33.33%;

      &.col--lg {
        width: 37%;
      }

      &.col.margin-b-until-tablet {
        margin-bottom: 0rem;
      }
    }

    .col__md-8 {
      float: left;
      width: 66.66%;

      &.col--sm {
        width: 63%;
      }
    }
  }

  @mixin desktop {
    .col__lg-4 {
      float: left;
      width: 33.33%;

      &.col--lg {
        width: 37%;
      }

      &.col.margin-b-until-desktop {
        margin-bottom: 0rem;
      }
    }

    .col__lg-8 {
      float: left;
      width: 66.66%;

      &.col--sm {
        width: 63%;
      }
    }
  }

  @mixin clearfix;

  /* Begin Equal Height Rules */
  .flexbox &--equal-height-tablet {
    @mixin tablet {
      display: flex;
    }

    & > .col {
      float: none;
      display: flex;
    }
  }

  .flexbox &--equal-height-desktop {
    @mixin desktop {
      display: flex;
    }

    & > .col {
      float: none;
      display: flex;
    }
  }
}
