.testimonial {
  margin-bottom: 120px;
  padding: 0 20px 1px;
  background-color: $primaryLight;
  border-radius: 30px;

  @mixin desktop {
    margin-bottom: 0;
    padding: 0 1.875rem 1px 1.875rem;
  }

  &__photo {
    position: relative;
    top: -80px;
    width: 160px;
    height: 160px;
    margin: 0 auto -80px auto;
    border: 6px solid $primaryLight;
    border-radius: 30px;
    overflow: hidden;
  }

  &__title {
    margin: 12px 0 0;
    color: $textDark;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  &__subtitle {
    margin: 0.6rem 0 1rem 0;
    color: $textBlue;
    font-weight: 400;
    text-align: center;
  }

  &--last {
    margin-bottom: 0;
  }
}
