.wrapper {
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
  overflow: hidden;

  &--md {
    max-width: 976px;
  }

  &--margin-b {
    margin-bottom: 1rem;

    @mixin phoneLg {
      margin-bottom: 3.875rem;
    }
  }

  &--no-padding-until-tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
